apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-kubernetes
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: test-kubernetes
  template:
    metadata:
      labels:
        app: test-kubernetes
    spec:
      containers:
      - image: siva1998/test-minikube:latest
        name: test-kubernetes
        ports:
        - containerPort: 8080